@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;600;700&display=swap');
body{
    margin: 0;
    background-color: #FFEDDE;
    font-family: 'League Spartan', sans-serif;
}
h1{
    padding: 0;
    margin: 0;
}
nav{
    padding: 2em 15% 2em 15%;
    background-color: #FFF5EC;

}
nav ul{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    list-style: none;
    padding: 0;
    justify-content: center;
    margin-bottom: 5em;
}
@media (min-width: 600px) {
    nav ul{
        flex-direction: row;
        justify-content: space-between;
    }
}
nav h1{
    font-family: 'League Spartan', sans-serif;
    color: #FE033C;
    font-size: 4em;
}
nav ul li{
    position: relative;
    display: inline-block;
    margin-bottom: 2em;
}
nav ul li .dropdown{
    display: none;
    position: absolute;
    min-width: 160px;
    top: 50px;
    z-index: 1;
}
nav ul li span{
    font-size: 1.8em;
    border: 3px solid #FE033C;
    padding: 0.3em 1.5em;
    border-radius: 10px;
    color: #302977;
}
nav ul li span:hover{
    cursor: pointer;
    color: white;
    background-color: #FE033C;
    transition-duration: 0.4s;
}
nav ul li:hover .dropdown{
    display: block !important;
}
.grid-container{
    display: grid;
    grid-template-columns: auto auto;
    gap: 20px;
    min-height: 400px;
}
@media (min-width: 600px) {
    .grid-container{
        grid-template-columns: auto auto auto auto auto ;
    }
    nav .item1 {
        grid-column: 1 / 5 !important;
        grid-row: 1/3;
    }
    
}
.grid-container > div {
    position: relative;
    width: 100%;
    background-color: #FE033C;
    text-align: center;
    border-radius: 10px;
    font-size: 30px;
  }
  .grid-container .content{ 
      left: 0;
      top: 50%;
  transform: translate(0%,-50%);
      position: absolute;
    display: inline-flex;
    flex-direction: column;
    width: 100%;
  }

nav .item1 {
    grid-column: 1 / 3;
  background: url('../img/large\ pizza.JPG') center center;
  background-size: cover;
}

nav .item1 img{
    object-position: center;
    object-fit: fill;
}
.price{
    font-weight: bold;
    font-size: 1.5em;
    color: white;
}
.type{
    color: white;
}
/*----------------*/
main>section{
    padding: 2em 15% 2em 15%;
}
.grid-sec{
    display: grid;
    grid-auto-rows: minmax(125px, auto);
    grid-gap: 10px;
}
@media (min-width: 600px) {
    .grid-sec {  grid-template-columns: repeat(2, 1fr); }
  }
@media (min-width: 900px) {
    .grid-sec { grid-template-columns: repeat(4, 1fr); }
}

.grid-sec .item{
    border-radius: 10px;
    height: 200px;
    box-shadow: 2px 2px 15px 4px rgba(0,0,0,0.13);
}

.grid-sec .prod_img{
    width: 100%;
    height: 80%;
}
.grid-sec .prod_img img{
    height: 100%;
    width: 100%;
    object-position: center;
    object-fit: cover;
    border-radius: 10px 10px 0px 0px;
}
.grid-sec .prod_desc{
    height: 10%;
    background-color: white;
    border-radius: 0px 0px 10px 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 1.5em;
    padding: 10px;
}
.grid-sec .prod_desc .prod_name{
    color: #302977;
    font-weight: 600;
}
.grid-sec .prod_desc .prod_price{
    color: #FE033C;
}
.featured_sec{
    margin-top: 2em;
    padding: 1em;
    background-color: white;
    border-radius: 10px;
    box-shadow: 2px 2px 15px 4px rgba(0,0,0,0.13);
    height: fit-content;
    min-height: 200px;
    display: flex;
    flex-direction: column;
}
@media (min-width: 600px) {
    .featured_sec { flex-direction: row; }
    .featured_sec .prod_img{
        width: 40% !important;
    }
    .featured_sec .prod_img img{
        width: 70%;
    }
    .featured_sec .prod_desc{
        position: relative;
        width: 70%;
    }
    .featured_sec .prod_desc .content{
        position: absolute;
        top: 50%;
      transform: translate(0%,-50%);
    }
  }
@media (min-width: 900px) {
    .featured_sec { flex-direction: row; }
}
.featured_sec .prod_desc{
    position: relative;
    width: 100%;
}
.featured_sec .prod_desc .content{
    display: flex;
    flex-direction: column;
}
.featured_sec .prod_desc h3{
    font-size: 1.5em;
    margin: 0;
}
.featured_sec .prod_desc p{
    font-size: 1.5em;
}
.featured_sec .prod_desc button{
    width: 150px;
    background-color: #FE033C;
    color: white;
    font-size:1em;
    border: none;
    border-radius: 10px;
    padding: 0.8em;
}
.featured_sec .prod_desc button:hover{
    background-color: #e90339;
    transition-duration: 0.4s;
    cursor: pointer;
}
.featured_sec .prod_img{
    width: 100%;
    overflow: hidden;
}
.featured_sec .prod_img img{
    width: 90%;
    height: auto;
    object-fit: contain;
    object-position: center;
}

.specialities{
    background-color: #FFF5EC;
    height: fit-content;
}
.special_title h2 {
    position: relative;
    font-size: 30px;
    z-index: 1;
    overflow: hidden;
    text-align: center;
}
.special_title h2:before, h2:after {
    position: absolute;
    top: 51%;
    overflow: hidden;
    width: 35%;
    height: 3px;
    content: '\a0';
    background-color: red;
}
.special_title h2:before {
    margin-left: -35%;
    text-align: right;
}
.specialities .grid_special{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
}
@media (min-width: 600px) {
    .specialities .grid_special {  grid-template-columns: repeat(2, 1fr); }
  }
@media (min-width: 900px) {
    .specialities .grid_special { grid-template-columns: repeat(4, 1fr); }
}
@media (min-width: 1200px) {
    .specialities .grid_special { grid-template-columns: repeat(7, 1fr); }
}
.grid_special .item{
    border-radius: 10px;
    height: 150px;
    overflow: hidden;
}
.grid_special .item img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
.grid_special .item img:hover{
    filter: brightness(142%) saturate(77%) contrast(93%) invert(19%);
-webkit-filter: brightness(142%) saturate(77%) contrast(93%) invert(19%);
-moz-filter: brightness(142%) saturate(77%) contrast(93%) invert(19%);
    transition-duration: 0.4s;
}
footer div{
    color: #302977;
    font-size: 1.5em;
    text-align: center;
    font-weight: bold;
}
footer{
    padding: 2em;
}